:root {
  --title-color: #0c3e96;
  --bcg-stickers: #648dd4;
  --main-text-color: #000;
  --secondary-text-color: #272626;
  --additional-text-color: #fff;
  --hover-link-color: #2f5aae;
  --hover-button-text-color: #fff;
  --hover-button-bcg-color: #4f4f4f;
  --hover-button-border-color: #4f4f4f6b;
  --bgc-header: #f4f5f7;
  --item-bgc: #f7f7f7;
  --margin-bottom: 30px;
  --transition: 300ms;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  font-family: 'Open-sans', sans-serif;
  font-size: 16px;
  line-height: 1.12;
  color: var(--main-text-color);
  background-color: var(--bcg-color);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover,
.link:focus {
  cursor: pointer;
}

.list {
  list-style: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  /* max-width: 1170px; */
  padding: 0;
  margin: 0 auto;
}

.margin_bottom {
  margin-bottom: var(--margin-bottom);
}

.section {
  margin-bottom: var(--margin-bottom);
}

.title {
  font-family: 'Open-sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: var(--margin-bottom);
}

@font-face {
  font-family: 'Open-sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/open-sans/opensans-regular-webfont.woff') format('woff'),
    url('/fonts/open-sans/opensans-regular-webfont.woff2') format('woff2');
}
@font-face {
  font-family: 'Open-sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/open-sans/opensans-bold-webfont.woff') format('woff'),
    url('/fonts/open-sans/opensans-bold-webfont.woff2') format('woff2');
}
@font-face {
  font-family: 'Tai_Heritage_Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Tai_Heritage_Pro/taiheritagepro-regular-webfont.woff')
      format('woff'),
    url('/fonts/Tai_Heritage_Pro/taiheritagepro-regular-webfont.woff2')
      format('woff2');
}
@font-face {
  font-family: 'Tai_Heritage_Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Tai_Heritage_Pro/taiheritagepro-bold-webfont.woff')
      format('woff'),
    url('/fonts/Tai_Heritage_Pro/taiheritagepro-bold-webfont.woff2')
      format('woff2');
}
.header {
  background-color: var(--bcg-header);
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.logo__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.header-menu__link {
  margin-right: 1.3vw;
  text-transform: uppercase;
}

.header-menu__link:last-child {
  margin-right: 0;
}

.header-menu__link:hover,
.header-menu__link:focus {
  color: var(--hover-link-color);
}

/* =================== */
.section {
}
.categories {
}
.categories__title {
  font-size: 2.5rem;
  text-align: center;
  color: var(--title-color);
  display: flex;
  align-items: end;
  justify-content: center;

  padding: 2.3rem;
  margin: 0 auto;
}
.categories__title-count {
  display: inline-block;
  font-size: 3.5rem;
  width: 4rem;
  /* border: 0.0625rem solid var(--title-color); */
  background-color: var(--title-color);
  /* background-color: #648dd4; */
  border-radius: 0.5rem;
  color: var(--additional-text-color);
}
.category-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.7rem;
  padding: 0.5rem 0;
  background-color: #efededfa;
}
.category__sticker {
  position: relative;
  display: flex;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 30.625rem;

  background-color: var(--bcg-stickers);
  padding: 1.3rem 1rem 1.3rem 0.8rem;
  border-radius: 0 1.3rem 1.3rem 0;
}
.sticker__content {
  /* position: relative;
  top: 50%;
  transform: translateY(-50%); */
}

.title-subtitle {
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
  writing-mode: tb-rl;
  transform: rotate(180deg);
  margin: auto 0;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.category__content-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-right: 3.4375rem;
}

.category__card {
  position: relative;
  width: 273px;
  height: 338px;
  margin: 0 auto;
}
.category__card-mtck {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #80808061;
  border-radius: 1.25rem;
  /* width: 24.7406rem;
  height: 30.625rem; */
  width: 275px;
  height: 490px;

  box-shadow: 5px 4px 5px #b5b2b3;
}
.mtck__markup {
  position: relative;
  width: 210px;
  height: 260px;
}
.category__card-coin {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #19385d;
  border-radius: 1.25rem;
  /* width: 24.5406rem;
  height: 30.625rem; */
  width: 275px;
  height: 490px;

  box-shadow: 5px 4px 5px #b5b2b3;
}
.coin__markup {
  position: relative;
  width: 260px;
  height: 325px;
}
.category__description {
  margin-left: 2rem;
  max-width: 224px;
  margin-top: auto;
  /* margin-left: 43rem;
  max-width: 224px;
  margin-top: 25rem;
  position: absolute; */
}
.category__description.left {
  margin-right: 2rem;
  opacity: 0;
  pointer-events: none;
}
/* ================ */
.mtck-elem {
  position: absolute;
  width: 3.7%;
  height: 25%;
  background-image: url(../images/svg/matchstick.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.itr_coin_elem {
  position: absolute;
  display: flex;
  width: 25%;
  height: 20%;
}
.logo-matchsticks {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/svg/MP_White_logo.svg);
  position: absolute;
  top: 90%;
  left: 14%;
  width: 2.1875rem;
  height: 2.1875rem;
  transform: rotate(-90deg);
}
.logo-puzzle-classics {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/svg/puzzle-cards-white.svg);
  position: absolute;
  top: 90%;
  left: 14%;
  width: 2.5875rem;
  height: 2.5875rem;
  transform: rotate(-90deg);
}
.logo-coin {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/svg/coin-white.svg);
  position: absolute;
  top: 90%;
  left: 14%;
  width: 2.1875rem;
  height: 2.1875rem;
  /* margin: 24px 0 0px 0px; */
  transform: rotate(-90deg);
}
.task-svg {
  display: inline-block;
  float: left;
  padding-right: 15px;
}
.task-svg::before {
  content: '';
  width: 60px;
  height: 60px;
  display: inline-block;
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/svg/letter-S.svg);
}
.task-text p::first-letter {
  margin-left: -8px;
  opacity: 0;
  color: transparent;
}
/* ========puzzle cards============= */
.category__card.puzzle-classics {
  width: 275px;
  height: 490px;
  color: var(--bcg-stickers);
}

.card__item-wrap {
  display: flex;
  border-radius: 20px;
  background-color: var(--white-bgc);
  overflow: hidden;
  box-shadow: 3px 2px 10px #b5b2b3;
  flex-wrap: wrap;
  justify-content: center;
}

.card__item-text {
  display: block;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.1;
  text-align: center;
  align-content: center;
  padding: 15px;
}
.card-img-wrapper {
  position: relative;
}

.img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
}
.card__item-img {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}
.card-text {
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.1;
  text-align: center;
  width: 100%;
  height: 64px;
  padding: 0 15px;

  margin-top: 15px;
}
.card__button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
}
.input-btn {
  display: none;
}
.card__button {
  position: relative;
  display: flex;
  width: 130px;
  height: 27px;
  margin: 0 0 10px 0;
  border: none;
  background: #9dd53a;
  background: -moz-linear-gradient(
    top,
    #9dd53a 0%,
    #a1d54f 50%,
    #80c217 51%,
    #7cbc0a 100%
  );
  background: -webkit-linear-gradient(
    top,
    #9dd53a 0%,
    #a1d54f 50%,
    #80c217 51%,
    #7cbc0a 100%
  );
  background: linear-gradient(
    to bottom,
    #9dd53a 0%,
    #a1d54f 50%,
    #80c217 51%,
    #7cbc0a 100%
  );
}

.card__button-left {
  border-radius: 0px 30px 30px 0px;
}
.card__button-right {
  border-radius: 30px 0px 0px 30px;
}
.card__button-text {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-content: center;
  padding: 0px 12px;
  color: var(--additional-text-color);
  font-size: 83%;
  font-weight: 500;
  pointer-events: none;
  text-align: center;
  align-items: center;
  justify-content: center;
}
