.mtck-5-squares-to-9_1 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 12.2%;
  left: 1.8%;
}
.mtck-5-squares-to-9_2 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: -0.3%;
  left: 17.3%;
}
.mtck-5-squares-to-9_3 {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);

  top: 12.2%;
  left: 32.8%;
}
.mtck-5-squares-to-9_4 {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);

  top: 37.5%;
  left: 32.8%;
}
.mtck-5-squares-to-9_5 {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);

  top: 62.7%;
  left: 32.8%;
}
.mtck-5-squares-to-9_6 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 75.4%;
  left: 17.3%;
}
.mtck-5-squares-to-9_7 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 62.7%;
  left: 1.8%;
}
.mtck-5-squares-to-9_8 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 50%;
  left: 17.3%;
}
.mtck-5-squares-to-9_9 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 50%;
  left: 48.5%;
}
.mtck-5-squares-to-9_10 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 50%;
  left: 79.5%;
}
.mtck-5-squares-to-9_11 {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);

  top: 62.7%;
  left: 95.2%;
}
.mtck-5-squares-to-9_12 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 75.4%;
  left: 79.5%;
}
.mtck-5-squares-to-9_13 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 62.7%;
  left: 63.9%;
}
.mtck-5-squares-to-9_14 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 37.6%;
  left: 63.9%;
}
.mtck-5-squares-to-9_15 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  top: 12.2%;
  left: 63.9%;
}
.mtck-5-squares-to-9_16 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  top: -0.3%;
  left: 79.5%;
}
.mtck-5-squares-to-9_17 {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);

  top: 12.2%;
  left: 95.2%;
}
.mtck-5-squares-to-9_18 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 25%;
  left: 79.5%;
}
.mtck-5-squares-to-9_19 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 25%;
  left: 48.5%;
}
.mtck-5-squares-to-9_20 {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  top: 25%;
  left: 17.3%;
}
